.playerContainer{
  position: relative;
  width: 200px;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: -1px 0px 9px 5px rgba(0,0,0,0.49);
  box-shadow: -1px 0px 9px 5px rgba(0,0,0,0.49);
  &--red{
    background-image: url('/assets/player_red.jpg');
    background-size: cover;
  }
  &--blue{
    background-image: url('/assets/player_blue.jpg');
    background-size: cover;
  }
  &__avatar{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 55px;
    height: 55px;
    border: 4px solid #353535;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    >img{
      width: 55px;
      height: 55px;
    }
  }
  &__info{
    height: 100%;
    margin-left: 45px;
    padding: 5px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(202, 202, 202);
    >h1{
      margin: 0;
    }
    >h2{
      margin: 0;
    }
    >p{
      margin: 0;
    }
  }
}

.playing{
  -webkit-box-shadow: 5px 5px 0px 0px #97fcb9, 10px 10px 0px 0px #d4ecff, 23px 22px 10px 14px rgba(0,0,0,0);
  box-shadow: 5px 5px 0px 0px #6fbe89, 10px 10px 0px 0px rgb(153, 201, 165), 23px 22px 10px 14px rgba(0,0,0,0);
}
